<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{tenant.name}}'s Tasks</title>

    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>Best for {{tenant.name}}</h1>
    <ul>
    {% for task in tasks %}
    <li>
        <strong>{{task.title}}</strong>: {{task.description}}
        {% if task.completed %}
            [completed]
        {% else %}
            [Pending]
        {% endif %}
    </li>
    {% endfor %}
</ul>




    <script src="index.js"></script>
  </body>
</html>